.instructor-container img{
    width:100%;
    height: 300px;

}
.instructor-container{
    height: 520px;

    box-shadow: 2px 3px 11px gray;

    margin-left: 40px;
    margin-right: 40px;


 }
 .role-style{
   color:orangered;
   font-size: small;
 }