.img-set{
    width: 300px ;
    height: 200px;
}
.class-container{
    height: 420px;

    box-shadow: 2px 3px 11px gray;
    width: 90%;
    margin-left: 20px;
 }
 .role-style{
   color:orangered;
   font-size: small;
 }